 <div class="pet-actions">
        <a href="/edit-pet/{{id}}" id="edit-pet-profile-btn" class="pet-action-btn">edit profile</a></br></br>
        <a href="/create-post/{{id}}" id="create-new-post-btn" class="pet-action-btn">create post</a></br></br>
        <a href="/view-playdates/{{id}}" id="view-playdates-btn" class="pet-action-btn">view playdates</a>
        
</div>
