<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{header}}</h1>
        <a href="/home">Home</a>
        <a href="/login">Login</a>
        <a href="/edit">Edit</a>
        <a href="/profile">Profile</a>
        <!--  <button id="profile">Go to Profile</button> -->
    </header>
    {{{body}}}

    <!-- <script src="/js/router.js" ></script> -->
</body>
</html>