<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new pet</h3>
    <form class="add-pet-form" action="/add-pet" method="POST">
      <div class="form-group">
        <label for="pet-name">Pet Name:</label>
        <input class="form-input" type="text" id="pet-name" name="name" value="{{pet.name}}" required />
      </div>
      <div class="form-group">
        <label for="pet-species">Species:</label>
        <input class="form-input" type="text" id="pet-species" name="type"/>
      </div>
      <div class="form-group">
        <label for="pet-breed">Breed:</label>
        <input class="form-input" type="text" id="pet-breed" name="breed"/>
      </div>
      <div class="form-group">
        <label for="pet-age">Age:</label>
        <input class="form-input" type="number" id="pet-age" name="age" />
      </div>
      <div class="form-group">
        <label for="pet-gender">Gender:</label>
        <input class="form-input" type="text" id="pet-gender" name="gender"/>
      </div>
      <div class="form-group">
        <label for="pet-description">Description:</label>
        <textarea class="form-input" id="pet-description" name="bio" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register pet</button>
        
      </div>
    </form>
  </div>
</div>