<h1 id="choose-pet-header">My pets</h1>
<ul id="pets-list">
        {{#each pets as |pet|}}
    <li class="pet-card">
        <img src="https://via.placeholder.com/100" alt="User profile" class="pet-image">
        <h2 class="pet-name">{{pet.name}}</h2>
        <button class="view-profile-btn" data-pet-id="{{pet.id}}" data-user-id="{{pet.user_id}}">Open</button>
    </li>
    {{/each}}
</ul>
<button id="add-pet-btn">Add Pet</button>

 <script src="/js/view-profile.js"></script>
 <script src="/js/add-pet.js"></script>