<h1>Home View</h1>
<div id="pet-profiles-container">
    <!--here dynamically will be rendered pet profiles for each user-->
</div>

<div id="feed-container">
     <!--here dynamically will be rendered posts of all the users-->
</div>

<div id="playdates-container">
     <!--here dynamically will be rendered playdates of all the users-->
</div>
