<h1>login View</h1>
<form action="/submit-login-form" method="POST" class="login-form">
    <div class="form-group">
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" name="loginUsername" required>
    </div>
    <div class="form-group">
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="loginPassword" required>
    </div>
    <button type="submit" >Login</button> 
     <a href="/register">First time at Unleashed? Register now</a>
</form>
<!--<script src="../public/js/login.js"></script>-->