<form action="/login/:loginUn" method="POST" class="login-form">
    <div class="form-group">
            <input type="text" id="loginUn" name="loginUn" placeholder="Username" required>
    </div>
    <div class="form-group">
            <input type="password" id="login-password" name="loginPw" placeholder="Password" required>
    </div>
    <button type="submit" >Login</button> 
     <a href="/register">New to Unleashed? Register here</a>
</form>
<!--<script src="../public/js/login.js"></script>-->