{{#if loggedIn}}
<h1>Profile View</h1>
{{else}}
  {{> login-msg}}
{{/if}}

<div class="upload-section">
  <input type="file" id="photo-upload" accept="image/*" style="display: none;">
  <button id="upload-btn">Upload Photo</button>
</div>

<script src="/js/upload.js"></script>