/* Feed button styling */
/* Feed button styling */
header a.feed-button {
    color: #ffffff; /* Set text color to white */
    background-color: #5e7e4d; /* Updated background color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

header a.feed-button:hover {
    background-color: #506b41; /* Updated hover color */
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Optional: Add focus styles for accessibility */
header a.feed-button:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
}


header a.feed-button:hover {
    background-color: #506b41; /* Updated hover color */
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Optional: Add focus styles for accessibility */
header a.feed-button:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
}

img {
    border-radius: 5px;
}
