.navbar {
  background-color: #5e7e4d;
}
.navbar a {
  color: white;
}
body {
  background-color: #e8e2d2;
}
.login-form {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  background-color: #5e7e4d;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.form-group {
  position: relative;
  margin-bottom: 10px; /* Increase or decrease this value for desired spacing */
}
.form-group input {
  padding: 10px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center; /* Center text horizontally inside input */
}
.login-form label, a{
  color: white;
}
.login-form button[type="submit"] {
  width: 200px; /* Make the button width 100% of its parent (.form-group) */
  padding: 12px; /* Increase padding for better button appearance */
  background-color: #5e7e4d; /* Match .navbar background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth background color transition */
  outline: none; /* Remove default outline */
}

.login-form button[type="submit"]:hover {
    background-color: #4c6d3f; /* Darker background color on hover */
}
